

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')

//- referencement
meta(name='keyword' content='Hélène Bou cirque aérien corde lisse toulouse grainerie théâtre baroque midi pyrénées')
meta(name='author' content='Yannick Chudy')
meta(name='author' content='Hélène Bou')
meta(name='author' content='bleuetdoré')

//- include meta
//- variable `meta` should be declared in page
title  #{meta.title}
meta(name='description', content=meta.description)

meta(property='og:title', content=meta.title)
meta(property='og:description', content=meta.description)
meta(property='og:image', content=meta.image)



//- CSS
link(rel='stylesheet', href="bower_components/semantic-ui/dist/semantic.min.css", type='text/css')
link(rel='stylesheet', href="css/bouzone.css", type='text/css')




