extends ./inc/page.jade

block referencement    
    -
      var meta = {
          
        'title': "Hélène Bou / Echappées",
        
        'image': "http://bou.zone/images/echappees/jetlag_2015_1.jpg",

        'description': "Galerie d'instantanés en l'air de rien."

      }

block title

  h1 Echappées


block content

 .ui.three.column.stackable.grid#echappees

      - var alt_grainerie = "Quinn"
            
      h3 Quinn

      .centered.aligned.row
        .ten.wide.top.left.aligned.column
            //img.ui.fluid.rounded.image(src="images/quinn/quinnbowie3.jpeg", title=alt_grainerie)
            img.ui.fluid.rounded.image(src="images/quinn/quinn1.jpeg", title=alt_grainerie)

        .top.right.aligned.six.wide.column
            img.ui.fluid.rounded.image(src="images/quinn/quinn2.jpeg", title=alt_grainerie)

            
      .centered.bottom.aligned.row
        .height.wide.column
            //img.ui.fluid.rounded.image(src="images/quinn/quinnbowie3.jpeg", title=alt_grainerie)
            img.ui.fluid.rounded.image(src="images/quinn/quinn_dore6.jpeg", title=alt_grainerie)

        .height.wide.column
            img.ui.fluid.rounded.image(src="images/quinn/quinn_dore1.jpeg", title=alt_grainerie)

        //.column
            //img.ui.fluid.rounded.image(src="images/quinn/quinn_dore3.jpeg", title=alt_grainerie)

            

            

      - var alt_grainerie = "Cabaret `Le plus dur c'est pas la chute` > jeudi 30 avril 2015 @LaGrainerie"
            
      h3 Cabaret `Le plus dur c'est pas la chute`  2015 @LaGrainerie

      .centered.bottom.aligned.row
        .centered.aligned.column
            img.ui.fluid.rounded.image(src="images/echappees/cabaret1.jpg", title=alt_grainerie)
            a(href='http://poussieredimagephotos.com/', target="_blank") © Marie-Lise_Poussière d'Image  

        .centered.aligned.column
            img.ui.fluid.rounded.image(src="images/echappees/cabaret6_ADELARUE.jpg", title=alt_grainerie)
            p © Antoine Delarue 

        .centered.aligned.column
            img.ui.fluid.rounded.image(src="images/echappees/cabaret5_ADELARUE.jpg", title=alt_grainerie)
            p © Antoine Delarue
            

            
      h3 Lanta 2015
            
      .centered.bottom.aligned.row
        .centered.aligned.column
            img.ui.fluid.rounded.image(src="images/echappees/lanta_2015_3.png", title="Hélène Bou @ résidence Lanta ")

        .centered.aligned.column
            img.ui.fluid.rounded.image(src="images/echappees/lanta_2015_1.png", title="Hélène Bou @ résidence Lanta ")

        .centered.aligned.column
            img.ui.fluid.rounded.image(src="images/echappees/lanta_2015_2.png", title="Hélène Bou @ résidence Lanta ")
            
      .centered.bottom.aligned.row
        .centered.aligned.column
            img.ui.fluid.rounded.image(src="images/echappees/grainerie_1.jpg", title="Hélène Bou @ La grainerie - Toulouse")

        .centered.aligned.column
            img.ui.fluid.rounded.image(src="images/echappees/grainerie_2.jpg", title="Hélène Bou @ La grainerie - Toulouse")

        .centered.aligned.column
            img.ui.fluid.rounded.image(src="images/echappees/grainerie_3.jpg", title="Hélène Bou @ La grainerie - Toulouse")
      .row.legende
        .left.aligned.column
            p
              a(href="http://www.la-grainerie.net/" target="_blank") La Grainerie 
              | - Toulouse - 2015



      - var alt_myrys = "Hélène Bou @ JetLag festival Mix’Art Myrys - Toulouse - juin 2015"
      h3 JetLag festival Mix’Art Myrys 
      .centered.bottom.aligned.row
        .centered.aligned.column
            img.ui.fluid.rounded.image(src="images/echappees/jetlag_2015_1.jpg", alt=alt_myrys)

        .centered.aligned.column
            img.ui.fluid.rounded.image(src="images/echappees/jetlag_2015_2.jpg", alt="Hélène Bou @ JetLag festival Mix’Art Myrys - Toulouse - juin 2015")

        .centered.aligned.column
            img.ui.fluid.rounded.image(src="images/echappees/jetlag_2015_3.jpg", alt="Hélène Bou @ JetLag festival Mix’Art Myrys - Toulouse - juin 2015")
      .row.legende
        .left.aligned.sixteen.wide.column
            p #[a(target="_blank", href="http://mixart-myrys.org/programmation2/20-15/juin/jetlag/") JetLag festival] à #[a(target="_blank", href="http://mixart-myrys.org") Mix’Art Myrys] - juin 2015.

            
            
      - var alt_ambeyrac = "Hélène Bou @ Ambeyrac fait son cirque - Ambeyrac (Aveyron) - août 2015"
      h3 Ambeyrac fait son cirque
      .centered.row
        .six.wide.left.aligned.column
            img.ui.medium.centered.rounded.image(src="images/echappees/ambeyrac_2015_4.jpeg", title=alt_ambeyrac)
            br/
            img.ui.small.centered.rounded.image(src="images/echappees/ambeyrac_2015_5.jpeg", title=alt_ambeyrac)

        .top.right.aligned.ten.wide.column
            img.ui.fluid.rounded.image(src="images/echappees/ambeyrac_2015_6.jpeg", title=alt_ambeyrac)

      .centered.row
        .column
            img.ui.fluid.rounded.image(src="images/echappees/ambeyrac_2015_1.jpeg", title=alt_ambeyrac)
        .column
            img.ui.fluid.rounded.image(src="images/echappees/ambeyrac_2015_2.jpeg", title=alt_ambeyrac)

        .column
            img.ui.fluid.rounded.image(src="images/echappees/ambeyrac_2015_3.jpeg", title=alt_ambeyrac)

      .row.legende
        .left.aligned.sixteen.wide.column
            p  Ambeyrac fait son cirque - août 2015. presse: #[a(href="http://www.ladepeche.fr/article/2015/08/25/2164355-ambeyrac-fait-son-cirque.html", target="_blank") La Dépêche du Midi]
